@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  /* background: purple; */
  font-family: Arial, Helvetica, sans-serif;
  
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.PS5_img{
  background: url(../../public/assets/images/PS5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 500px;
  background-color: black;
}
.women_collection{
  background: url(../../public/assets/images/womencollection.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 500px;
  background-color: black;
}
.speaker_img{
  background: url(../../public/assets/images/speakers.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50 %;
  height: 500px;
  background-color: black;
}
.perfume_img{
  background: url(../../public/assets/images/perfume.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50 %;
  height: 500px;
  background-color: black;
}