@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
  
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.PS5_img{
  background: url(../../public/assets/images/PS5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  background-color: black;
}
.women_collection{
  background: url(../../public/assets/images/womencollection.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 300px;
  background-color: black;
}
.speaker_img{
  background: url(../../public/assets/images/speakers.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 350px;
  
  background-color: black;
}
.perfume_img{
  background: url(../../public/assets/images/perfume.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 350px;
  
  background-color: black;
}